@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Poppins:wght@300;400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    scroll-behavior: smooth;
}

$whitish: #FEFFF3;
$orange-ish: #DF872C;
$primary: #102705;
$light-green: #9BBB59;

$mont: 'Montserrat', sans-serif;
$pop: 'Poppins', sans-serif;

